:root {
    --menu-color: rgba(217,217,217, 0.7);
}

* {
    margin: 0;
    padding: 0;
    /* Calcula altura e largura de elementos */
    box-sizing: border-box;
}

h1 {
    font-family: 'Be Vietnam Pro';
    font-size: 32px;
    font-weight: 700;
    color:white;
}

h2 {
    font-family: 'Be vietnam Pro';
    color:white;
    font-size: 24px;
    font-weight: 400;
}
.container-grid {
    width: 80vw;
    max-width: 1520px;
    margin: 0 auto;
}

.banner {
    height: 100vh;
    background-image: url(img/Banner/img-banner.png);

    /* Com o uso da propriedade Background conseguimos configurar imagens,cores e gradientes de forma unificada. */
    /* Na linha a seguir, há um método para colocar a imagem do retangulo  e do banner atrás sem position */
    /*background: right / 50% 100% no-repeat url(img/Banner/obj-retangle.png), center /cover url(img/Banner/img-banner.png); */

    background-repeat:no-repeat;

    /* Redimensiona a imagem, mantendo o proporção da tela(aspect ratio)*/
    background-size: cover;

    position: relative;
    z-index: 0;
}

.retangle_bg {
    /* Pega 100% da altura do container "pai" */
    height: 100%;
    width: 50%;

    background-image: url(img/Banner/obj-retangle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

.obj-line2 {
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, rgba(41,65,115,1) 0%, rgba(78,122,217,1) 100%);

    position: absolute;
    bottom: -3;
}

header {
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: var(--menu-color);

    position: sticky;
    z-index: 2;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#darkmode {
    position: absolute;
    right: 3%;

    z-index: 3;
}

.container-grid#banner-text-pos{
    height: calc(100vh - 70px);

    display: flex;
    justify-content: flex-end;
    align-items: center;


}
#banner-text {
    width: 35%;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;

    text-align: center;

    position: absolute;
    z-index: 4;
}

