:root {
    --menu-color: rgba(217,217,217, 0.7);
}

* {
    margin: 0;
    padding: 0;
    /* Calcula altura e largura de elementos */
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1520px;
    margin: 0 auto;
}

.banner {
    height: 100vh;
    background-image: url(img/Banner/img-banner.png);
    /* Com o uso da propriedade Background conseguimos configurar imagens,cores e gradientes de forma unificada. */
    background-repeat: no-repeat;
    /* Redimensiona a imagem, mantendo o proporção da tela(aspect ratio)*/
    background-size: cover;

    position: relative;
    z-index: 0;
}

.retangle_bg {
    /* Pega 100% da altura do container "pai"*/
    height: 100vh;
    width: 50%;

    background-image: url(img/Banner/obj-retangle.png);
    background-repeat: no-repeat;

    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}

header {
    width: 100vw;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: var(--menu-color);
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


