@font-face {
    font-family: 'Saira';
    src: url(fonts/Saira-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Noto Sans';
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

html {
    scroll-behavior: smooth;
}

:root {
    --menu-color: rgba(217,217,217, 0.7);
    --rosa-tudo: #FF36AB;
    --azulescuro-tudo: #143D73;

    --button-normal: #4E7AD9;
    --button-hover: #12295C;
}

* {
    margin: 0;
    padding: 0;
    /* Calcula altura e largura de elementos */
    box-sizing: border-box;
}

h1 {
    font-family: 'Be Vietnam Pro';
    font-size: 42px;
    font-weight: 700;
    color:white;
}

h2 {
    font-family: 'Be Vietnam Pro';
    color:white;
    font-size: 24px;
    font-weight: 400;
}

p {
    font-family: 'Noto Sans';
    font-size: 16px;
}
.container-grid {
    width: 80vw;
    max-width: 1520px;
    margin: 0 auto;
}

.banner {
    height: 100vh;
    background-image: url(img/Banner/img-banner.png);

    /* Com o uso da propriedade Background conseguimos configurar imagens,cores e gradientes de forma unificada. */
    /* Na linha a seguir, há um método para colocar a imagem do retangulo  e do banner atrás sem position */
    /*background: right / 50% 100% no-repeat url(img/Banner/obj-retangle.png), center /cover url(img/Banner/img-banner.png); */

    background-repeat:no-repeat;

    /* Redimensiona a imagem, mantendo o proporção da tela(aspect ratio)*/
    background-size: cover;

    position: relative;
    z-index: 0;
}

.retangle_bg {
    /* Pega 100% da altura do container "pai" */
    height: 100%;
    width: 100%;
    /* Alterei para pegar 100% da tela e apenas redimensionei a imagem, mas para conter o outro item dentro, 
    preciso que o tamanho maximo dele seja 50 para conter o outro, mas posso fazer essa alteracao especifica na outra classe*/
    background-image: url(img/Banner/obj-retangle.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position-x: right;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}


header {
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: var(--menu-color);
    backdrop-filter: blur(8px);
    
    position: fixed;
    z-index: 20;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
header div.container-grid button:nth-of-type(1) {
    height: 37px;
    width: 128px;
    
    border-radius: 30px;
    background-color: transparent;
    
    font-family: 'Be Vietnam Pro';
    font-size: 17px;
    
    border-color: black;
    border-style: solid;
    
    cursor: pointer;
    transition: background-color 250ms;
}

header div.container-grid button:nth-of-type(1):hover{
    color: white;
    border-color: white;
    background-color: var(--button-hover);

    transition: 250ms;
}

header div.container-grid button:nth-of-type(1):active{
    background-color: var(--rosa-tudo);
    transition: color 250ms;
}

.menu {
    height: 500px;
    width: 45vw;
    
    padding: 0px 80px 50px;
    
    position: absolute;
    z-index: 11;
    top: 70px;
    right: 4.5%;

    background-color: var(--menu-color);
    /* Aplica blur exatamente atrás da imagem*/
    backdrop-filter: blur(8px);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-radius: 0 0 150px  150px;
}  

.menu-fechado {
    display: none;
}

.menu #button-x {
    width: 100%;

    margin: 5px 0;
    display: flex;
    justify-content: flex-end;

}

.menu #menu-endereco-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

}
/* 
.menu div:first-child{
    width: 50%;
    height: 100%;
    
    padding: 40px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

} */

#menu-endereco {
    height: 70%;
    width: 40%;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

#menu-endereco a {
    font-family: 'Noto Sans';
    color: black;
    text-decoration: underline transparent;
    
}

#button-anchor {
    width: 40%;
    gap: 5px;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu #button-anchor button {
    height: 57px;
    width: 80%;

    background-color: unset;
    border-style: none;

    font-family: 'Noto Sans';
    font-size: 16px;
}

.menu #button-anchor button:hover {
    border-radius: 31px;
    background-color: var(--button-hover);
    color: white;

}   

#menu-social {
    display: flex;
    justify-content: space-between;
}

#menu-social svg:hover {
    color:var(--rosa-tudo);
    transition: color 300ms;
}

#darkmode {
    position: absolute;
    right: 3%;
    
    z-index: 3;
    
}

#darkmode a{
    color: black;
    transition: color 300ms;
}
#darkmode a:hover {
    color: var(--rosa-tudo);
}

.container-grid#banner-text-pos{
    height: calc(100vh - 70px);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#banner-text {
    width: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    
    
    position: absolute;
    z-index: 4;
}

/* Seleciona o primeiro h2 entre os demais */
#banner-text h2:first-child{
    color: var(--rosa-tudo);
    font-weight: 500;
}

#banner-text a {
    width: 100%;
    text-decoration: none;

    display: flex;
    justify-content: center;
}

#banner-text button {
    width: 220px;
    height: 49px;
    
    background-color: var(--button-normal);
    border: none;
    border-radius: 31px;
    padding: 0px 15px;
    margin-top: 22px;
    
    
    cursor: pointer;
    
    font-family: 'Noto Sans';
    font-size: 17px;
    font-weight: 700;
    color: white;

    transition: background-color 500ms;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

#banner-text button:hover{
    
    background-color: var(--button-hover);
    transition: 300ms;
}

#banner-text button:active {
    background-color: var(--rosa-tudo);
    transition: color 200ms;
}


.chat-bot {
    width: 100%;
    position: fixed;
    z-index: 9;
    left: 92%;
    top: 80%
}

.chat-bot svg{
    color: var(--button-normal);
    transition: color 300ms;
}

.chat-bot svg:hover {
    color: var(--rosa-tudo);
}
/* Como redimensionar SVG ? */

.obj-line2 {
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, rgba(41,65,115,1) 0%, rgba(78,122,217,1) 100%);

    position: absolute;
    bottom: 0;
}

#contato {
    
/* Borda no canto inferior da pagina*/
    border-bottom: 7px solid var(--rosa-tudo);

}

#contato h2 {
    color: black;
    text-align: center;
}

#contato .retangle_bg {
    width: 50%;
    position: unset;
     /* background-position-x: 100%;
   background-image: url(img/Land/TeamWorkPhotoRetangle.png), url(img/Land/RForm.png); */
   background-image: none;
    
   background: right 100% / 100% 100% no-repeat url(img/Land/RForm.png);
   float: right;
}

#contato .container-grid-right {
    margin-left: 10%;
    /* Altura do tamanho da foto*/
    height: 100vh;

    display: flex;
    align-items: center ;

}

#contato .retangle_bg img {
    height: calc(100vh - 6.8px);
    width: 96%;
    padding-top: 4%;
    float: right;
}


.alinhamento-texto-vertical{
    display: flex;
    flex-direction: column;
    
    margin-right: 10vw;
    
    align-items: center;
} 

.alinhamento-texto-vertical h2:first-child{
    font-size: 42px;
    font-weight: 700;
}

.alinhamento-texto-vertical a {
    text-decoration: none;
}
.alinhamento-texto-vertical a button{
    width: 220px;
    height: 49px;

    font-family: 'Noto Sans';
    font-size: 17px;
    font-weight: 700;

    color: var(--button-normal);
    border-radius: 31px;
    padding: 0 15px;
    margin-top: 22px;

    cursor: pointer;

    border-color: var(--button-normal);
    border-style: solid;
    background-color: transparent;

    fill: var(--button-normal);

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: 500ms;
    
}


.alinhamento-texto-vertical a button:hover{
    transition: 300ms;

    fill: var(--button-hover);
    color: var(--button-hover);
    border-color: var(--button-hover);
}

.alinhamento-texto-vertical a button:active{
    fill: var(--rosa-tudo);
    color: var(--rosa-tudo);
    border-color: var(--rosa-tudo);

    transition: 200ms;
}

#contato .obj-line2 {
    position: unset;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    background: linear-gradient(90deg, rgba(255,54,171,1) 0%, rgba(153,32,103,1) 100%);
}


.retangle-bg01 {

    background-image: url(img/Land/ROurWork.png);
    background-size: 50% 100%;
    background-position: right;
    background-repeat: no-repeat;
}

#cases .container-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.text-pos{
    width: 60%;

    line-height: 1.5;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-bottom: 20px;
    
}


/*  Tentativa falha de selecionar um p
.text-pos > p:first-child{
 background-color: #4E7AD9;
}
*/

/*#cases .p1 {
    margin-bottom: 20px;
}*/

#cases .obj-line2 {
    position: unset;
    
    display: flex;
    align-items: flex-end;
    
}

.text-pos h2:nth-child(1) {
    text-align: center;
    font-weight: 800;
    font-size: 28px;
    margin-top: 50px;
}

#cases .text-pos h2:last-of-type {
    margin-top: 20px;
}

#cases h2 {
    color: black;
    font-weight: 600;
    margin-bottom: 8px;
}

#cases img {
    max-height: 100%;
    max-width: 100%;
}

.case-photos {
    height: 100vh;
    width: 100%;

    display:flex;
    /* Alinha varias linhas com base no eixo vertical se a flex-direction for row(padrão), por isso o wrap tem que estar ativado
    align-content:center;
     */
    justify-content: flex-end;
    align-items: center;
}

.container-photos {
    height: 100%;
    width: 75%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.retangle-photo {
    display:flex;
    flex-direction: column;
    gap: 25px;
}

.ret1 {
    height: 288px;
    width: 340px;
}

.ret2 {
    width: 340px;
    height: 235px;
}
.retangle-photo img {

    border-radius: 20px;
    border-left: 3px solid white;
}

#cases .obj-line2 {
    position: unset;
}

#rating {
  background-color: #7A98D9;
  padding-top: 10%;
}

.pos-cards {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-content: center;
}

.cards {
  width: 678px;
  height: 356px;
  background-color: var(--azulescuro-tudo);
  border-left: 6px solid white;
  border-radius: 30px;
  position: relative;
  z-index: 7;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.cards img {
  width: 238px;
  height: 244px;
  top: -35px;
  position:absolute;
  z-index: 8;
  border-radius: 50px;
  filter: drop-shadow(12px 28px 18px #0000005b);
}

#card-name {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  color: white;
  font-family: 'Saira';
  font-weight: 600;
  font-size: 17px;
}

#card-text {
  width: 55%;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans';
  color: white;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}


.slider-carr {
  display: flex;
  justify-content: center;
      
  padding: 3% 0 3% 0 ;
}

.slider-carr img {
  width: 12%;
}
/* RETIRAR */
/* .logo-display {
  width: 99,1vw;
  
  overflow-x: auto;
}

.logo-display img {
    height:  170px;
} */


/* Carrossel infinito */

@keyframes slide {
    from {
        transform: translateX(0)
    }
    to {
        transform: translateX(-100%);
    }
}

.logos-slide {
    animation: 10s slide infinite linear;
    display: inline-block;
} 

.logos-slide img {
    height: 150px;
    margin: 0 40px;
}

.logos {
    overflow:hidden;
    padding: 60px 0;
    background-color: #7A98D9;
    /* Não deixa passar de linha */
    white-space: nowrap;
    position: relative;
}

.logos:after,
.logos:before{
    position: absolute;
    top: 0;
    
    width: 250px;
    height: 100%;
    /* Pesquisar */
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left,rgba(255, 255, 255, 0), #7A98D9);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right,rgba(255, 255, 255, 0), #7A98D9);
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

#divisoria.obj-line2 {
    position: unset;

    background: linear-gradient(90deg, rgba(255,54,171,1) 0%, rgba(153,32,103,1) 100%);
}

#history {
}

#history.retangle_bg {
    position: unset;

    background-image: url(img/Land/RForm.png);
}

#history .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.container-grid .text-pos2 {
    width: 40%;

    padding-bottom: 20px;
    
    display: flex;
    flex-direction: column;
}

#history h2 {
    color: black;
}

#history h2:first-of-type {
    color: #FF36AB; 
    font-size: 28px;
    font-weight: 800;

    margin-top: 50px;
    margin-bottom: 8px;
}

#history h2:nth-child(2) {
    margin-top: 20px;
    margin-bottom: 7px;

    font-weight: 600;
}

#history p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.img-about {
    width: 42%;

    display: flex;
}

#history .img-about img {
    width: 99%; 
    
    margin: 200px 0;
}

#history .obj-line2 {
    position: unset;
    
    display: flex;
    align-content: flex-end;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#form h2 {
    font-weight: 800;
    font-size: 24px;
    color: black;
}

#form.new-retangle-bg {
    width: 100%;

    background-color: var(--azulescuro-tudo);
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

form {
    width: 50%;

    background-color: #fff;
    border-radius: 173px;

    padding: 7% 5%;

    /* Rotulo do form*/
    text-indent: 19px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 13px;

    margin: 100px 0;
}
/* Aparentenmente só com DOM no JS para fazer isso */
form label:focus {
    color: #143D73;
}

form label {
    margin-bottom: 8px;
    color: rgba(0, 0, 0, 0.6);
}

.field {
    width: 100%;
    
    border-radius: 32px;

    padding: 0 10px;

    display: flex;
    flex-direction: column;
}

.field input:placeholder-shown {
    height: 51px;
    
    border: 1px solid rgba(0, 0, 0, 0.4);       
    border-radius: 32px;
    
    text-indent: 18px;

    font-family: 'Noto Sans';
    font-size: 15px;
}

.field input{
    height: 51px;
    
    border: 1px solid #143D73;   
    border-radius: 32px;
    
    text-indent: 18px;

    font-family: 'Noto Sans';
    font-size: 15px;
    color: black;
}

.field input:focus {
    color: var(--azulescuro-tudo);

    border: 1px solid #143D73;
    
    box-shadow: 0px 0px 0px 5px #143d7325;
    
    transition: ease-in-out 250ms;
}

/* form label:focus, label: */

.field-description {
    width: 97.5%;
    display: flex;
    flex-direction: column;
}

.field-description textarea:placeholder-shown{
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 32px; 
}

.field-description textarea {
    
    border-radius: 32px;    

    padding: 16px 20px;

    resize: none;

    font-size: 15px;
    font-family: 'Noto Sans';
    color: black;
}

.field-description textarea:focus-within{
    color: #143D73;

    border: 1px solid #143D73;
    
    box-shadow: 0px 0px 0px 5px #143d7325;
    
    transition: ease-in-out 250ms;
}

/* Alterar a cor do placeholder - texto que fica dentro do form enquanto nada é escrito */ 
.field-description textarea::placeholder, .field input::placeholder{
    color: hsla(0, 0%, 0%, 0.4);
}
form #checkbox-termos {
    width: calc(100% - 65px);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

form #checkbox-termos label{
    margin-bottom: 0;
    font-size: 14px;
    text-indent: 0;
    font-weight: 500;
}

form button {
    width: 96%;
    height: 59px;

    background-color: var(--button-normal);

    border-radius: 30px;
    border: none;

    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: 700;
    color: white;

    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    padding: 0 50px;

    transition: 250ms;

    cursor: pointer;
}

form button:hover {
    background-color: var(--button-hover);
    
    transition: 250ms;   
}

#form .obj-line2 {
    display: flex;
    justify-content: flex-end;
    position: unset;
}

.button-return {
    height: 50vh;
    
    background: linear-gradient(90deg, rgba(20,61,115,1) 0%, rgba(44,86,157,1) 50%, rgba(78,122,217,1) 50%, rgba(78,122,217,1) 100%);

    /* Resolve a linha não estar aparecendo */
    /* margin-top: 7px; */
}

.white-bg {
    height: 100%;
    width: 100%;
    
    background-color: white;
    
    border-radius: 0 250px 0 250px;
    
    display: flex;
    justify-content: center;
    align-items: center; 
}

.white-bg button{
    height: 15%;
    width: 20%;
    
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: 800;    
    color: white;

    border: none;
    border-radius: 60px;

    cursor: pointer;

    background-color: var(--rosa-tudo);

    transition: 250ms;
}

.white-bg button:hover {
    background-color: var(--button-hover);

    transition: ease 250ms;
}

.white-bg button:active {
    background-color: var(--rosa-tudo);
}

.button-return .obj-line2 {
    position: unset;

    background: linear-gradient(90deg, rgba(255,54,171,1) 0%, rgba(153,32,103,1) 100%);
}
footer {
    /* Retirei o tamanho para o conteúdo dar tamanho ao footer*/
    background-color: #143D73;

    /* padding : top e baixo, laterais 0 */
    padding: 40px 0;
    margin-top: 7px;
}

.footer-content {
    height: 80%;

    color: white;

    padding-top: 3%;

    display: flex;
    justify-content: space-between;   
    
    border-bottom: 2px solid white;

    padding-bottom: 100px;
    margin-bottom: 50px;
}

.footer-content .text-col p:nth-child(1) {
    font-weight: 800;
}

.text-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-col button {
    height: 59px;
    width: 200px;

    font-family: 'Noto Sans';
    font-size: 17px;
    font-weight: 800;
    color: white;

    background: transparent;

    border-style: solid;
    border-radius: 40px;
    border-color: white;

    display: flex;
    justify-content: space-around;
    align-items: center;

    cursor: pointer;
    padding: 5px 20px 5px 20px;

    transition: 250ms ease-in-out;
}

.text-col button:hover {
    color: var(--rosa-tudo);
    border-color: var(--rosa-tudo);
}
    
.text-col button svg:hover {
    color: var(--rosa-tudo);
}

#footer-contact {      
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#footer-contact a{
    font-family: 'Noto Sans';
    font-size: 14px;
    text-decoration: underline transparent;
    color: white;
}

#footer-contact .container-grid {
    display: flex;
    justify-content: space-between;
      
}


.footer-redes {
    width: 232px;
    height: 32px;

    display: flex;
    justify-content: space-between;
}

#footer-contact .text-col a {
    display: flex;
    align-items: center;
    gap: 8px;
}

#footer-contact .text-col a:hover {
    color: var(--rosa-tudo);
    text-decoration: underline var(--rosa-tudo);

    transition: 250ms ease-in-out;
}
.footer-redes svg {
    color: white;
    transition: 250ms ease-in-out;
}

.footer-redes svg:hover {
    color: var(--rosa-tudo)
}
@media screen and (max-width: 1650px){
    .case-photos {
    
    }
    
    /* Aplica resize em todas as fotos 
    .retangle-photo {
        height: 200px;
        width: 250px;
    } */
    
    .cards {
        width: 500px;
        height: 310px;
    }
    .cards img {
        width: 39%;
        height:fit-content;
    }
/* RETIRAR */
    .logo-display img{
        height: 125px;
        
    }
    

}

@media screen and (max-width: 1300px) {

    header {
        width: 100vw;
    }
    
    .menu {
        padding: 0 30px 50px;   
    }

    .menu #button-x {
        width: 90%;
    }

    .banner .retangle_bg{
        background-size: 55% 100%;
    }

    #banner-text{
        width: 43%;
    }

    #contato div.retangle_bg {
        width: 55%;
    }

    #cases.retangle-bg01 {
        background-size: 55% 100%;
    }
    
    #cases .container-photos {
        width: 85%;
    }

    #rating .cards {
        width: 450px;
        height: 350px;
    }

    #rating .cards img {
        width: 32%;
        filter: drop-shadow(2px 20px 15px #0000005b);
        top: 34px;
    }

    #rating #card-name {
        width: 35%;
        text-align: center;
        padding-bottom: 5%;
    }

    #rating #card-text {
        width: 60%;
        font-size: 10px;
    }

    #rating .slider-carr img {
        width: 17%;
    }

    #history.retangle_bg {
        background-size: 55% 100%;

    }

    #history .container-grid {
        flex-wrap: nowrap;
    }

    #history .img-about {
        width: 53%;
    }

    form {
        width: 70%;
    }

    form button {
        width: 80%;
    }

    .button-return button {
        width: 30%;
    }
}

@media screen and (max-width: 1080px) {
    header .container-grid {
        padding: 0 25px;
    }
    .container-grid {
        width: 90vw;
    }

    .menu {
        width: 550px;
        text-align: center;
    }
    .chat-bot {
        left: 88%;
    }

    #rating .container-grid {
        width: 90vw;
    }

    .retangle-photo {
        height: 500px;
    }
}

@media screen and (max-width: 1000px) {
    #rating .pos-cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
}


@media screen and (max-width: 800px) {
    h1 {
        font-size: 24px;
    }

    #banner-text h2{
        font-size: 18px
    }

    header .container-grid {
        padding: 0 45px;
    }
    
    .menu {
        height: 92vh;
        background-color: #e3e3e3ce;
    }

    .menu #menu-endereco-nav {
        flex-direction: column;
        gap: 15px
    }

    .menu #button-anchor {
        width: 100%;
        gap: 10px;
    }

    #menu-endereco {
        gap: 10px
    }

    #menu-social {
        margin-top: 5px;
    }
    
    .chat-bot {
        left: 78%    
    }

    #contato {
        /* Esse tamanho tira o bg, por enquanto deixando assim para depois mudar*/
        background-color: var(--azulescuro-tudo);
        display: flex;
        flex-direction: column;
    }

    #contato .retangle_bg {
        background: no-repeat center 50% url(img/Land/TeamWorkPhotoRetangle.png);
        border-radius: 150px 0 0 0;
    }

    #contato div.retangle_bg {
        width: 100%;
        height: 600px;
    }

    #contato .retangle_bg img {
        display: none;
    }

    #contato .container-grid-right {
        margin: 0 0;
        background-color: #fff;
        border-radius: 0 150px 0 150px;
    }

    .alinhamento-texto-vertical {
        text-align: center;
        margin:0;   
        padding: 0 10%;
    }

    #cases {
        border-radius: 0 150px 0 150px;
        color: white;
    }
    #cases h2 {
        color: white;
        background-color: unset;
    }

    .retangle-bg01{
        background-color: var(--azulescuro-tudo);
    }

    #cases .container-grid {
        flex-direction: column;

    }

    .container-photos {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    #cases .container-photos{
        width: 100%;      
        gap: 25px;  
    }

    .text-pos {
        width: 80%;
    }
    .retangle-photo {

    }

    .ret1, .ret2 {
        width: 280px;
    }

    form {
        width: 90%;
        padding: 13% 8%;
    }

    #history.retangle_bg {
        background-image: unset;
    }

    #history .container-grid {
        flex-direction: column;
    }

    #history .img-about img{
        margin: 50px 0;
    }

    .container-grid .text-pos2 {
        width: 90%;
    }

    .button-return button {
        width: 60%;
        font-size: 25px;
    }

    .footer-content {
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 620px) {
    #contato div.retangle_bg {
        width: 100vw;
    }

    .case-photos {
        height: unset;
        margin-bottom: 25px;
    }

    #history.retangle_bg {
        background-image: unset;
        background-color: white;
        
    }
    /* #history.retangle_bg::after {
        
        background-color: var(--button-hover);
        border-radius: 0 110px 0 110px;
    } */

    .white-bg {
        border-radius: 0 110px 0 110px;
    }

    #footer-contact .container-grid {
        flex-direction: column;
        gap: 25px;
    }
}

@media screen and (max-width: 400px) {
    header {
        position: relative ;
    }
    
    header .container-grid {
        padding: 0 0;
    }

    .banner .retangle_bg {
        background-size: 100% 100%;
    }

    #banner-text {
        width: 90%;
    }

    #darkmode {
        display: none;
    }

    .menu {
        width: 100vw;
        right: 0;
        justify-content: space-evenly;
        border-radius: 0 0 50px 50px;
        z-index: 15;
    }

    .menu #menu-endereco-nav{
        font-size: 15px;
    }

    #menu-endereco {
        display: none;
    }
    .cards p{
        font-size: 14px;
    }

    #rating .slider-carr img {
        padding-top: 20px;
        width: 40%;
    }

    .logos:before {
        background: unset;
    }
    .logos:after{
        background: unset;
    }

    form {
        width: 100%;
        background-color: #fff;
    }

    #form.new-retangle-bg {
        background: unset;
    }

}