:root {
    --menu-color: rgba(217,217,217, 0.7);
}

* {
    margin: 0;
    padding: 0;
    /* Calcula altura e largura de elementos */
    box-sizing: border-box;
}

.container-grid {
    width: 80vw;
    max-width: 1520px;
    margin: 0 auto;
}

.banner {
    height: 100vh;
    /* Com o uso da propriedade Background conseguimos configurar imagens,cores e gradientes de forma unificada. */
    background: right / 50% 100% no-repeat url(img/Banner/obj-retangle.png), center /cover url(img/Banner/img-banner.png);
    /*background-repeat: no-repeat;
    background-position: 35% 0;*/
    /* Redimensiona a imagem, mantendo o proporção da tela(aspect ratio)*/
    /*background-size: cover*/
}

header {
    width: 100vw;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: var(--menu-color);
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #darkmode {
    display: flex;
    gap: 10px;
    align-items: center;

}
