@font-face {
    font-family: 'Noto Sans';
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}

:root {
    --menu-color: rgba(217,217,217, 0.7);
    --rosa-tudo: #FF36AB;

    --button-normal: #4E7AD9;
    --button-hover: #12295C;
}

* {
    margin: 0;
    padding: 0;
    /* Calcula altura e largura de elementos */
    box-sizing: border-box;
}

h1 {
    font-family: 'Be Vietnam Pro';
    font-size: 42px;
    font-weight: 700;
    color:white;
}

h2 {
    font-family: 'Be Vietnam Pro';
    color:white;
    font-size: 24px;
    font-weight: 400;
}
.container-grid {
    width: 80vw;
    max-width: 1520px;
    margin: 0 auto;
}

.banner {
    height: 100vh;
    background-image: url(img/Banner/img-banner.png);

    /* Com o uso da propriedade Background conseguimos configurar imagens,cores e gradientes de forma unificada. */
    /* Na linha a seguir, há um método para colocar a imagem do retangulo  e do banner atrás sem position */
    /*background: right / 50% 100% no-repeat url(img/Banner/obj-retangle.png), center /cover url(img/Banner/img-banner.png); */

    background-repeat:no-repeat;

    /* Redimensiona a imagem, mantendo o proporção da tela(aspect ratio)*/
    background-size: cover;

    position: relative;
    z-index: 0;
}

.retangle_bg {
    /* Pega 100% da altura do container "pai" */
    height: 100%;
    width: 100%;
    /* Alterei para pegar 100% da tela e apenas redimensionei a imagem, mas para conter o outro item dentro, 
    preciso que o tamanho maximo dele seja 50 para conter o outro, mas posso fazer essa alteracao especifica na outra classe*/
    background-image: url(img/Banner/obj-retangle.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position-x: right;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
}


header {
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 30px 30px;
    background-color: var(--menu-color);
    
    position: fixed;
    z-index: 6;
}

header .container-grid {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .container-grid button:nth-child(2){
    height: 37px;
    width: 128px;
    
    border-radius: 30px;
    background-color: transparent;
    
    font-family: 'Be Vietnam Pro';
    font-size: 17px;
    
    border-color: black;
    border-style: solid;
    
    cursor: pointer;
    transition: background-color 500ms;
}

.banner .container-grid button:nth-child(2):hover{
    color: white;
    border-color: white;
    background-color: var(--button-hover);
}

.banner .container-grid button:nth-child(2):active{
    background-color: var(--rosa-tudo);
    transition: color 200ms;
}

#darkmode {
    position: absolute;
    right: 3%;
    
    z-index: 3;
    
}

#darkmode a{
    color: black;
    transition: color 300ms;
}
#darkmode a:hover {
    color: var(--rosa-tudo);
}

.container-grid#banner-text-pos{
    height: calc(100vh - 70px);
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#banner-text {
    width: 30%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    
    
    position: absolute;
    z-index: 4;
}

/* Seleciona o primeiro h2 entre os demais */
#banner-text h2:first-child{
    color: var(--rosa-tudo);
    font-weight: 500;
}

#banner-text button {
    width: 45%;
    height: 49px;
    
    background-color: var(--button-normal);
    border: none;
    border-radius: 31px;
    padding: 0px 15px;
    margin-top: 22px;
    
    
    cursor: pointer;
    
    font-family: 'Noto Sans';
    font-size: 17px;
    font-weight: 700;
    color: white;

    transition: background-color 500ms;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

#banner-text button:hover{

    background-color: var(--button-hover);
    transition: 200ms;
}

#banner-text button:active {
    background-color: var(--rosa-tudo);
    transition: color 200ms;
}

#banner-text button img {
    
}

.chat-bot {
    width: 100%;
    position: fixed;
    z-index: 5;
    left: 90%;
    top: 80%
}

.chat-bot svg{
    color: var(--button-normal);
    transition: color 300ms;
}

.chat-bot svg:hover {
    color: var(--rosa-tudo);
}
/* Como redimensionar SVG ? */

.obj-line2 {
    width: 100%;
    height: 7px;
    background: linear-gradient(90deg, rgba(41,65,115,1) 0%, rgba(78,122,217,1) 100%);

    position: absolute;
    bottom: 0;
}

#contato {
    height: 100vh;
    
}

#contato h2 {
    color: black;
    text-align: center;
}

#contato .retangle_bg {
    position: unset;
     /* background-position-x: 100%;
   background-image: url(img/Land/TeamWorkPhotoRetangle.png), url(img/Land/RForm.png); */
   background-image: none;
    
   background: right 100% / 100% 100% no-repeat url(img/Land/RForm.png);
   float: right;
   width: 50%;
   }

#contato .container-grid-right {
    height: 100vh;
    
    margin-left: 200px;



}



#contato .retangle_bg img {
    height: 100vh;
    width: 90%;
    padding-top: 2%;
    float: right;
}

.alinhamento-text-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
} 

